//Base
@import
  "node_modules/normalize.scss/normalize",
  "node_modules/normalize-opentype.css/normalize-opentype.scss",
  "bourbon",
  "modules/grid-settings",//overrides bitters grid-settings
  "neat",
  "base/base",
  "base/variables";

// Modules
@import
  "modules/articles",
  "modules/footer",
  "modules/links",
  "modules/hero",
  "modules/images-book-covers",
  "modules/layouts",
  "modules/nav-top",
  "modules/quotes",
  "modules/utilities-accessibility",
  "modules/utilities-iframes",
  "modules/utilities"
;

.clear {
  width: 100%;
  clear: both;
}

.buddyboy {
  color: green;
}