<div class="has-layout">
 <article class="hentry {% if page.class %}{{page.class}}{% endif %}">
  <header>
    {% if page.title %}
      <h1 class="book-title m0">
        {{ page.title|safe }}
        {% if page.subtitle %}
          {% if page.subtitle.size > 10 %}
            <br />
          {% endif %}
          <span style="font-weight:400;font-size:.5em;">
            {{ page.subtitle }}
          </span>
        {% endif %}
      </h1>
    {% endif %}
    {% if page.genre %}
      <h6>
        <small>
          {{ page.genre}}
        </small>
      </h6>
    {% endif %}
  </header>
    <div class="entry-content prose">
      {% if page.cover_image_path %}
        <img class="book-cover cover-with-synopsis bock-cover-presentation" src="{{ page.cover_image_path }}" />
      {% endif %}
      {{ page.content | markdownify }}
      {% if page.editions %}
        <div id="buying-information" class="clear">
          {% include books/buy-links.html %}
        </div>
      {% endif %}
      <ul class="listings inline">
        <li>
          <strong>Publication Date: </strong>
          {{ page.publication_date | date: "%b %-d, %Y" }}
        </li>
        {% for edition in page.editions | first %}
          {% for binding in edition %}
          <li>
            <strong>ISBN {{ binding[0]}}</strong>: {{ binding[1] }}
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
        {% if page.author %}
          {% assign authors = site.authors %}
  				{% assign authors = authors | where: 'slug', page.author %}
          {% for author in authors %}
            <h2 style="margin-top:2em;">
              About {{ author.name }}
            </h2>
            {{ author.content | markdownify }}
          {% endfor %}
        {% endif %}

        {% assign reviews = site.posts | where: 'category', 'review' %}
        {% assign reviews = reviews | where: 'book', page.slug %}

        {% if reviews %}<h2 style="margin-top:2em;">Praise for <em>{{ page.title }}</em></h2>{% endif %}

        {% for review in reviews limit: 20 %}
          <blockquote class="review spaced">
            {% if review.description and review.description != '' %}<h1>Excerpt</h1>
              <p class="quote_excerpt">
                {{ review.description }}
              </p>
            {% elsif review.content %}
              {{ review.content | markdownify }}
            {% endif %}
            – {{ review.title | markdownify | remove: '<p>' | remove: '</p>' }}
          </blockquote>


         {% endfor %}






        {% comment %}
        {% if page.excerpt %}
        <h2 id="excerpt" style="margin-top:3em;">Excerpt from <em>{{ page.name }}</em></h2>
          {{ page.excerpt|safe }}
        {% endif %}





       {% endcomment %}


    </div>



  </article>

</div>