{% assign books = site.books | sort: 'publication_date' | reverse  %}
{% if page.number_of_books_to_show %}
  {% assign limit = page.number_of_books_to_show %}
{% else %}
  {% assign limit = 100 %}
{% endif %}
{% for page in books limit: limit %}
  <h1>
    <a href="{{ page.url }}">
      {{ page.title }}
    </a>
  </h1>
  {% if page.cover_image_path %}
    <img class="book-cover" src="{{ page.cover_image_path }}" style="width:300px;float:left;margin-right:1em;">
  {% endif %}
  {% if page.content %}
    {{ page.content | markdownify }}
  {% endif %}
  <div style="margin:2.5em 0 5em 0;">
    {% include books/buy-links.html %}
  </div>
{% endfor %}