<div class="hero" {% if page.featured_image_path %}style="background-image:url('{{page.featured_image_path}}');"{% endif %}>
	<div class="hero-inner">
		<div class="hero-copy">
			{% if page.collection == 'books' %}
				{% if page.cover_image_path %}
					<div class="column-2"><!-- style="width:45%;float:left;" -->
						<img src="{{ page.cover_image_path }}" class="book-cover" style="width:350px;margin:2em auto;">
					</div>
				{% elsif site.brand_image %}
					<img src="{{ site.brand_image }}">
				{% endif %}

			<div class="column-2-wide padding-top-5"><!-- style="width:45%;float:left;margin-top:8em;" -->
				{% assign reviews = site.posts | where: 'category', 'review' %}
				{% assign reviews = reviews | where: 'book', page.slug %}

				{% for review in reviews limit: 1 %}
					<blockquote class="review large">
						{% if review.description and review.description != '' %}<h1>Excerpt</h1>
							<p class="quote_excerpt">
								{{ review.description }}
							</p>
						{% elsif review.content %}
							{{ review.content | markdownify }}
						{% endif %}
					</blockquote>
					– {{ review.title | markdownify | remove: '<p>' | remove: '</p>' }}

				 {% endfor %}
			</div>
			{% elsif site.brand_image %}
				<img src="{{ site.brand_image }}">
			{% endif %}

		</div>
	</div>
</div>