{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Home{% endblock %}
{% block content %}
  {% set news = cms.news %}
  {% set news = news|sort('publish_date', true) %}
  <article class="hentry">
    <div class="entry-content prose">
    <br />
    <h5>Latest News</h5>
    {% for object in news %}
      <h5>
        <a href="{{ object.link_to_original }}" target="_blank">
          {% filter replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') %}{{ object.name|markdown }}{% endfilter %}
        </a>
      </h5>
    {% endfor %}
    <h5 style="margin-top:3em;">Out now </h5>
      {% for object in books|slice(0,2) %}
        {% set editions = object.editions %}
        {% set edition  = object.editions|first %}
        <h1><a href="{{ url(object) }}">{{ object.name }}</a></h1>
        {% if edition.cover_image %}
          <img class="book-cover" src="{{ edition.cover_image|imageSize(450, 'auto') }}" style="width:300px;float:left;margin-right:1em;">
        {% endif %}
        {% if object.synopsis %}
          {{ object.synopsis|safe }}
        {% endif %}
        <div style="margin:2.5em 0 5em 0;">
          {% include "templates/partials/buy-links.html" %}
        </div>
      {% endfor %}    
      </div>
    {% include "templates/partials/form-mailchimp-signup.html" %}
  </article>
{% endblock %}